body {
    max-width: 700px;
    margin: 50px auto;
    text-align: center;
    background-image: linear-gradient(to top, #5c0707f7 0%, #28584e 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
  
.product {
    display: inline-block;
    height: 100px;
    margin-right: 40px;
    margin-left: 60px;
}

h1 {
/*     border-radius: 20px; */
    font-family: 'Amatic SC', cursive;
    margin-bottom: 110px;
    font-size: 25px;
    background-color: #ffffffad;
}

img {
  border-radius: 20px;
    display: inline-block;
    width: 230px;
    height: 230px;
    border: solid 4px #000;
}

.btn {
    border: none;
    border:1.5px solid #998a8a;
    display: block;
    text-align: center;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
    background-color: #000000;
    padding: 7px 37px;
    margin: 0 auto;
    box-shadow: 0 20px 15px rgba(0,0,0,0.20);
    margin-top: 15px;
  }

  .btn span {
    position: relative; 
    z-index: 1;
  }

  .btn:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 620%;
    width: 110%;
    background: #7cebfb8f;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
  }
  
  .btn:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
  } 